
.example-container {
    height: 100vh;
}

.page-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
   }
   
   .example-sidenav {
       padding: 0;
       margin: 0;
    width: 400px;
   }

   .example-icon {
    padding: 0 14px 0 0;
   }
   
   .example-spacer {
    flex: 1 1 auto;
   }

   main {
       flex-grow: 2;
       padding: 1rem;
   }